.container-sub{
    margin: 0 auto;
    width: 70vw;
    display: block;

    h2{
        font-size: 1.2rem;
        color: #000;
        padding-top: 1rem;
    }
    p{
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}